.SCSColumn {
    margin-top: 1rem;
    padding: 1rem;
    min-height: calc(99vh - 60px - 1rem);
    max-height: calc(99vh - 60px - 1rem);
    overflow-y: scroll;
}

.SCSColumnHalfHeight {
    margin-top: 1rem;
    padding: 1rem;
    min-height: calc(49.5vh - 30px - 1rem);
    max-height: calc(49.5vh - 30px - 1rem);
    overflow-y: scroll;
}

.SCSColHeader {
    text-align: center;
}
