.StatusBar {
    margin-left: 5rem;
    margin-right: 5rem;
    line-height: 60px;
    display: inline-block;
    vertical-align: center;
}

.StatusElement {
    display: inline-block;
}

.SecureConnectionCheck .form-check-input {
    margin-top: 23px;
}